*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #030303;
    color: #fff9f6;
}
/* #ff4500; cor laranja cor cinza #030303 cor larenja-claro #FFF9F6*/
main{
    

}
.titulo-inicial{

}
.nav-bar{


}
a{

}
.titulo-planos{

}
#planos{

}
.sub_titulo-plano{

}
.card-plano1{

}
.card-plano2{

}
card-plano3{
  

}
.ul-card-planos{
   
}
titulo-infra{

}
.Aparelhos{


}
card-aparelhos{

}
.infraestura-imgs{


}
.titulo-fitdance{

    
}
.Fitdance{

}
.card-fitdance{
   

}
.titulo-natação{


}
.natação-spa{
    

}
.card-natação{
        

}
.card-spa{


}
.conteudo-natação{


}
.conteudo-spa{
    
}
.horarios{
        
}
table{
  

}
td{

}
tr{
    
}
.dias-horarios{

}
footer {
 


}